.btn,
.navbar .navbar-nav > a.btn {
  border-width: 2px;
  font-weight: 600;
  font-size: 0.8571em;
  line-height: 1.35em;
  text-transform: uppercase;
  border: none;
  margin: 10px 1px;
  border-radius: 3px;
  padding: 11px 22px;
  cursor: pointer;
  background-color: #66615B;
  color: #FFFFFF;
  transition: all 150ms linear; }
  .btn:hover, .btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn:active:hover, .btn.active:focus, .btn.active:hover,
  .show > .btn.dropdown-toggle,
  .show > .btn.dropdown-toggle:focus,
  .show > .btn.dropdown-toggle:hover,
  .navbar .navbar-nav > a.btn:hover,
  .navbar .navbar-nav > a.btn:focus,
  .navbar .navbar-nav > a.btn:active,
  .navbar .navbar-nav > a.btn.active,
  .navbar .navbar-nav > a.btn:active:focus,
  .navbar .navbar-nav > a.btn:active:hover,
  .navbar .navbar-nav > a.btn.active:focus,
  .navbar .navbar-nav > a.btn.active:hover,
  .show >
  .navbar .navbar-nav > a.btn.dropdown-toggle,
  .show >
  .navbar .navbar-nav > a.btn.dropdown-toggle:focus,
  .show >
  .navbar .navbar-nav > a.btn.dropdown-toggle:hover {
    background-color: #403D39 !important;
    color: #FFFFFF !important;
    box-shadow: none !important; }
  .btn:not([data-action]):hover,
  .navbar .navbar-nav > a.btn:not([data-action]):hover {
    box-shadow: none; }
  .btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled.focus, .btn.disabled:active, .btn.disabled.active, .btn:disabled, .btn:disabled:hover, .btn:disabled:focus, .btn:disabled.focus, .btn:disabled:active, .btn:disabled.active, .btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled].focus, .btn[disabled]:active, .btn[disabled].active,
  fieldset[disabled] .btn,
  fieldset[disabled] .btn:hover,
  fieldset[disabled] .btn:focus,
  fieldset[disabled] .btn.focus,
  fieldset[disabled] .btn:active,
  fieldset[disabled] .btn.active,
  .navbar .navbar-nav > a.btn.disabled,
  .navbar .navbar-nav > a.btn.disabled:hover,
  .navbar .navbar-nav > a.btn.disabled:focus,
  .navbar .navbar-nav > a.btn.disabled.focus,
  .navbar .navbar-nav > a.btn.disabled:active,
  .navbar .navbar-nav > a.btn.disabled.active,
  .navbar .navbar-nav > a.btn:disabled,
  .navbar .navbar-nav > a.btn:disabled:hover,
  .navbar .navbar-nav > a.btn:disabled:focus,
  .navbar .navbar-nav > a.btn:disabled.focus,
  .navbar .navbar-nav > a.btn:disabled:active,
  .navbar .navbar-nav > a.btn:disabled.active,
  .navbar .navbar-nav > a.btn[disabled],
  .navbar .navbar-nav > a.btn[disabled]:hover,
  .navbar .navbar-nav > a.btn[disabled]:focus,
  .navbar .navbar-nav > a.btn[disabled].focus,
  .navbar .navbar-nav > a.btn[disabled]:active,
  .navbar .navbar-nav > a.btn[disabled].active,
  fieldset[disabled]
  .navbar .navbar-nav > a.btn,
  fieldset[disabled]
  .navbar .navbar-nav > a.btn:hover,
  fieldset[disabled]
  .navbar .navbar-nav > a.btn:focus,
  fieldset[disabled]
  .navbar .navbar-nav > a.btn.focus,
  fieldset[disabled]
  .navbar .navbar-nav > a.btn:active,
  fieldset[disabled]
  .navbar .navbar-nav > a.btn.active {
    background-color: #66615B;
    border-color: #66615B; }
  .btn.btn-simple,
  .navbar .navbar-nav > a.btn.btn-simple {
    color: #66615B;
    border-color: #66615B; }
    .btn.btn-simple:hover, .btn.btn-simple:focus, .btn.btn-simple:active,
    .navbar .navbar-nav > a.btn.btn-simple:hover,
    .navbar .navbar-nav > a.btn.btn-simple:focus,
    .navbar .navbar-nav > a.btn.btn-simple:active {
      background-color: transparent;
      color: #403D39;
      border-color: #403D39;
      box-shadow: none; }
  .btn.btn-link,
  .navbar .navbar-nav > a.btn.btn-link {
    color: #66615B; }
    .btn.btn-link:hover, .btn.btn-link:focus, .btn.btn-link:active, .btn.btn-link:active:focus,
    .navbar .navbar-nav > a.btn.btn-link:hover,
    .navbar .navbar-nav > a.btn.btn-link:focus,
    .navbar .navbar-nav > a.btn.btn-link:active,
    .navbar .navbar-nav > a.btn.btn-link:active:focus {
      background-color: transparent;
      color: #403D39;
      text-decoration: none;
      box-shadow: none; }
  .btn:hover, .btn:focus,
  .navbar .navbar-nav > a.btn:hover,
  .navbar .navbar-nav > a.btn:focus {
    opacity: 1;
    filter: alpha(opacity=100);
    outline: 0 !important; }
  .btn:active, .btn.active,
  .open > .btn.dropdown-toggle,
  .navbar .navbar-nav > a.btn:active,
  .navbar .navbar-nav > a.btn.active,
  .open >
  .navbar .navbar-nav > a.btn.dropdown-toggle {
    box-shadow: none;
    outline: 0 !important; }
  .btn .badge,
  .navbar .navbar-nav > a.btn .badge {
    margin: 0; }
  .btn.btn-icon,
  .navbar .navbar-nav > a.btn.btn-icon {
    height: 2.375rem;
    min-width: 2.375rem;
    width: 2.375rem;
    padding: 0;
    font-size: 0.9375rem;
    overflow: hidden;
    position: relative;
    line-height: normal; }
    .btn.btn-icon.btn-simple,
    .navbar .navbar-nav > a.btn.btn-icon.btn-simple {
      padding: 0; }
    .btn.btn-icon.btn-sm,
    .navbar .navbar-nav > a.btn.btn-icon.btn-sm {
      height: 1.875rem;
      min-width: 1.875rem;
      width: 1.875rem; }
      .btn.btn-icon.btn-sm .fa,
      .btn.btn-icon.btn-sm .far,
      .btn.btn-icon.btn-sm .fas,
      .btn.btn-icon.btn-sm .nc-icon,
      .navbar .navbar-nav > a.btn.btn-icon.btn-sm .fa,
      .navbar .navbar-nav > a.btn.btn-icon.btn-sm .far,
      .navbar .navbar-nav > a.btn.btn-icon.btn-sm .fas,
      .navbar .navbar-nav > a.btn.btn-icon.btn-sm .nc-icon {
        font-size: 0.6875rem; }
    .btn.btn-icon.btn-lg,
    .navbar .navbar-nav > a.btn.btn-icon.btn-lg {
      height: 3.6rem;
      min-width: 3.6rem;
      width: 3.6rem; }
      .btn.btn-icon.btn-lg .fa,
      .btn.btn-icon.btn-lg .far,
      .btn.btn-icon.btn-lg .fas,
      .btn.btn-icon.btn-lg .nc-icon,
      .navbar .navbar-nav > a.btn.btn-icon.btn-lg .fa,
      .navbar .navbar-nav > a.btn.btn-icon.btn-lg .far,
      .navbar .navbar-nav > a.btn.btn-icon.btn-lg .fas,
      .navbar .navbar-nav > a.btn.btn-icon.btn-lg .nc-icon {
        font-size: 1.325rem; }
    .btn.btn-icon:not(.btn-footer) .nc-icon,
    .btn.btn-icon:not(.btn-footer) .fa,
    .btn.btn-icon:not(.btn-footer) .far,
    .btn.btn-icon:not(.btn-footer) .fas,
    .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) .nc-icon,
    .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) .fa,
    .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) .far,
    .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) .fas {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-12px, -12px);
      line-height: 1.5626rem;
      width: 24px; }
    .btn.btn-icon.btn-neutral,
    .navbar .navbar-nav > a.btn.btn-icon.btn-neutral {
      font-size: 20px; }
  .btn:not(.btn-icon) .nc-icon,
  .navbar .navbar-nav > a.btn:not(.btn-icon) .nc-icon {
    position: relative;
    top: 1px; }

    .navbar {
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
      min-height: 53px;
      margin-bottom: 20px; }
      .navbar a {
        vertical-align: middle; }
        .navbar a:not(.btn):not(.dropdown-item) {
          color: #FFFFFF; }
        .navbar a.dropdown-item {
          color: #66615B; }
      .navbar.bg-white .input-group .form-control,
      .navbar.bg-white .input-group.no-border .form-control {
        color: #66615B; }
        .navbar.bg-white .input-group .form-control::-moz-placeholder,
        .navbar.bg-white .input-group.no-border .form-control::-moz-placeholder {
          color: #66615B; }
        .navbar.bg-white .input-group .form-control:-ms-input-placeholder,
        .navbar.bg-white .input-group.no-border .form-control:-ms-input-placeholder {
          color: #66615B; }
        .navbar.bg-white .input-group .form-control::-webkit-input-placeholder,
        .navbar.bg-white .input-group.no-border .form-control::-webkit-input-placeholder {
          color: #66615B; }
      .navbar.bg-white .input-group-prepend .input-group-text i,
      .navbar.bg-white .input-group-append .input-group-text i {
        color: #66615B;
        opacity: .5; }
      .navbar .form-group,
      .navbar .input-group {
        margin: 0;
        margin-left: -3px;
        margin-right: 5px; }
        .navbar .form-group .form-group-addon,
        .navbar .form-group .input-group-prepend .input-group-text,
        .navbar .form-group .input-group-append .input-group-text,
        .navbar .input-group .form-group-addon,
        .navbar .input-group .input-group-prepend .input-group-text,
        .navbar .input-group .input-group-append .input-group-text {
          color: #66615B; }
          .navbar .form-group .form-group-addon i,
          .navbar .form-group .input-group-prepend .input-group-text i,
          .navbar .form-group .input-group-append .input-group-text i,
          .navbar .input-group .form-group-addon i,
          .navbar .input-group .input-group-prepend .input-group-text i,
          .navbar .input-group .input-group-append .input-group-text i {
            opacity: 1; }
        .navbar .form-group.no-border .form-control,
        .navbar .input-group.no-border .form-control {
          color: #66615B; }
          .navbar .form-group.no-border .form-control::-moz-placeholder,
          .navbar .input-group.no-border .form-control::-moz-placeholder {
            color: #66615B; }
          .navbar .form-group.no-border .form-control:-ms-input-placeholder,
          .navbar .input-group.no-border .form-control:-ms-input-placeholder {
            color: #66615B; }
          .navbar .form-group.no-border .form-control::-webkit-input-placeholder,
          .navbar .input-group.no-border .form-control::-webkit-input-placeholder {
            color: #66615B; }
      .navbar p {
        display: inline-block;
        margin: 0;
        line-height: 1.8em;
        font-size: 1em;
        font-weight: 400; }
        .navbar.navbar-absolute {
          position: absolute;
          /* width: 90%; */
          padding-top: 10px;
          left: 259px;
          /* z-index: 1029; */
          margin-right: 0;
      }
      .documentation .navbar.fixed-top {
        left: 0;
        width: initial; }
      .navbar .navbar-wrapper {
        display: inline-flex;
        align-items: center; }
        .navbar .navbar-wrapper .navbar-minimize {
          padding-right: 10px; }
          .navbar .navbar-wrapper .navbar-minimize .btn {
            margin: 0; }
        .navbar .navbar-wrapper .navbar-toggle .navbar-toggler {
          padding-left: 0; }
        .navbar .navbar-wrapper .navbar-toggle:hover .navbar-toggler-bar.bar2 {
          width: 22px; }
      .navbar .navbar-nav.navbar-logo {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 49px;
        top: -4px; }
      .navbar .navbar-nav .nav-link.btn {
        padding: 11px 22px; }
        .navbar .navbar-nav .nav-link.btn.btn-lg {
          padding: 15px 48px; }
        .navbar .navbar-nav .nav-link.btn.btn-sm {
          padding: 5px 15px; }
      .navbar .navbar-nav .nav-link {
        text-transform: uppercase;
        font-size: 0.7142em;
        padding: 0.5rem 0.7rem;
        line-height: 1.625rem;
        margin-right: 3px; }
        .navbar .navbar-nav .nav-link i.fa + p,
        .navbar .navbar-nav .nav-link i.nc-icon + p {
          margin-left: 3px; }
        .navbar .navbar-nav .nav-link i.fa,
        .navbar .navbar-nav .nav-link i.nc-icon {
          font-size: 18px;
          position: relative;
          top: 3px;
          text-align: center;
          width: 21px; }
        .navbar .navbar-nav .nav-link i.nc-icon {
          top: 4px;
          font-size: 16px; }
        .navbar .navbar-nav .nav-link.profile-photo .profile-photo-small {
          width: 27px;
          height: 27px; }
        .navbar .navbar-nav .nav-link.disabled {
          opacity: .5;
          color: #FFFFFF; }
      .navbar .navbar-nav .nav-item.active .nav-link:not(.btn),
      .navbar .navbar-nav .nav-item .nav-link:not(.btn):focus,
      .navbar .navbar-nav .nav-item .nav-link:not(.btn):hover,
      .navbar .navbar-nav .nav-item .nav-link:not(.btn):active {
        border-radius: 3px;
        color: #66615B; }
      .navbar .logo-container {
        width: 27px;
        height: 27px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 50%;
        border: 1px solid transparent; }
      .navbar .navbar-brand {
        text-transform: capitalize;
        font-size: 20px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        line-height: 1.625rem; }
      .navbar .navbar-toggler {
        width: 37px;
        height: 27px;
        vertical-align: middle;
        outline: 0;
        cursor: pointer; }
        .navbar .navbar-toggler .navbar-toggler-bar.navbar-kebab {
          width: 3px;
          height: 3px;
          border-radius: 50%;
          margin: 0 auto; }
      .navbar .button-dropdown .navbar-toggler-bar:nth-child(2) {
        width: 17px; }
      .navbar.navbar-transparent {
        background-color: transparent !important;
        box-shadow: none;
        border-bottom: 1px solid #ddd; }
        .navbar.navbar-transparent a:not(.dropdown-item):not(.btn) {
          color: #66615B; }
          .navbar.navbar-transparent a:not(.dropdown-item):not(.btn).disabled {
            opacity: .5;
            color: #66615B; }
        .navbar.navbar-transparent .button-bar {
          background: #66615B; }
        .navbar.navbar-transparent .nav-item .nav-link:not(.btn) {
          color: #66615B; }
        .navbar.navbar-transparent .nav-item.active .nav-link:not(.btn),
        .navbar.navbar-transparent .nav-item .nav-link:not(.btn):focus,
        .navbar.navbar-transparent .nav-item .nav-link:not(.btn):hover,
        .navbar.navbar-transparent .nav-item .nav-link:not(.btn):focus:hover,
        .navbar.navbar-transparent .nav-item .nav-link:not(.btn):active {
          color: #51cbce; }
      .navbar.bg-white a:not(.dropdown-item):not(.btn) {
        color: #66615B; }
        .navbar.bg-white a:not(.dropdown-item):not(.btn).disabled {
          opacity: .5;
          color: #66615B; }
      .navbar.bg-white .button-bar {
        background: #66615B; }
      .navbar.bg-white .nav-item.active .nav-link:not(.btn),
      .navbar.bg-white .nav-item .nav-link:not(.btn):focus,
      .navbar.bg-white .nav-item .nav-link:not(.btn):hover,
      .navbar.bg-white .nav-item .nav-link:not(.btn):active {
        color: #51bcda; }
      .navbar.bg-white .logo-container {
        border: 1px solid #66615B; }
      .navbar .navbar-collapse .nav-item a {
        font-size: 14px; }